.lock
.last-package-update-day
.lsp-session-v1
company-statistics-cache.el
desktops/
autosaves/
auto-save-list/
backups/
emacs.desktop
eshell
semanticdb
ido.last
scratches
session.*
ac-comphist.dat
smex-items
tramp
elpy/rpc-venv
company*
bookmarks
