tree-sitter/
auto-save/
.emacs.buffers
.emacs.desktop
url/
svg-lib/
projects
tramp
recentf
helm-adaptive-history
eln-cache/
.cache/
desktops/
auto-save-list/
straight/build/
straight/repos/
straight/modified/
undo/
elpa/
ido.last
smex-items
build-cache.el
.lsp-session-v1
.mc-lists.el
session.*
